<!DOCTYPE html>
<html>

<head>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>

  <title> CHATTY CHAT CHAT</title>
 <!-- <link rel='stylesheet' href='/stylesheets/style.css' />-->
  <script src='/javascripts/socket.io.js'></script>
  <style>
    html,
    body {
      height: 100%;
      padding: 0px;
      margin: 0px;
    }

    body {
      height: 100%;
      width: 100%;
      display: table;
    }

    #div1 {
      display: table-row;
      height: 10%;
      background-color: rgb(150, 217, 238);
      text-align: center;
    }

    #div2 {
      display: table-row;
      height: 90%;
      /*    background-color:blue;*/
      text-align: center;

    }
   
    #div3 {
      
      display: table-row;
      background-color: rgb(150, 217, 238);
    }

    #input_chat {
     border: none; position: absolute; top:0; left:0; outline: 3px solid orchid; width:89%;height:100%; font-size: 20px;
     padding-left: 5px;
    }
  </style>
  <script>
  /* $(window).bind("beforeunload",function(e){
    socket.emit('leaveRoom', roomname, id, "방 나가게 허락해줘");//방 나갈게
   });*/

   window.addEventListener("beforeunload", function(event) {
    socket.emit('leaveRoom', roomname, id, "방 나가게 허락해줘");//방 나갈게
   });

   window.onresize = function (event) {

    $('#totalmsg').css({height:$('#totalmsg').parents().height()+'px'});
    $('#totalmsg').scrollTop($('#totalmsg')[0].scrollHeight);
    
   }
  </script>
</head>

<body>
  <div id="div1">

    <div style="font-size:70px;">GAME ROOM</div>

  </div>

  <div id="div2">


    <div style="display:block; width:100%; height:100%; background-color:none;">


      <div style="width:100%; max-height: 90%; height:70%; background-color:white;     align-items: center;
      justify-content: center; display:flex;">

      <div style="width:60%; height:80%; background-color:sandybrown; align-items: center; display:block; outline:4px solid saddlebrown;">

      </div>

      </div>




      <div style="width:100%; height:30%; background-color:rgb(150, 217, 238); align-items: center;
      justify-content: center; display:flex;">
                <!--채팅프로그램 구역-->
                <div style="width:80%; height:80%; display:block;">
                  <!--채팅 보는창-->  
                    <div style="display:flex; height:90%; width: 100%; ">
                      <div style="display:inline-block; background-color:green; height:100%; width:80%;">
          
                        <div id="totalmsg" style="overflow-y:auto;width: 100%; height:300px;
                         text-align:left; padding-left:10px; border: 1px solid blue;">
                          
          
          
                        </div>
          
                      </div>
                      <div id="member_list" style="display: inline-block; width: 12.5%; background-color:wheat ">
                      </div>
          
                    </div>
          
                    <!--채팅 입력창-->
                    <div style="display:flex; width:100%; height: 20%; ">
          
                      <div style="background-color:white; width:30%; font-size: large;">
                        <%=show_user%>
                      </div>
                      <div id='input_chat_wrapper' style="position: relative; background-color:rgb(150, 217, 238); width:80%; height:100%;  ">
                        <input id="input_chat" type="text" value="">
                      </div>
                    </div>
                    
                  </div>
                   <!--채팅프로그램 끝--> 
      </div>

    </div>
  </div>

  <!--div2-->

  <div id="div3">
  
  </div>








  <script>
    var id = '<%=show_user%>';
    var roomname = "1번"; //방이름
    var socket = io(window.location.origin);//백앤드소켓주소입력

    window.onload = function () {

      var pc_device = "win16|win32|win64|mac|macintel";
    // 접속한 디바이스 환경
    var this_device = navigator.platform;
    if (this_device) {
      if (pc_device.indexOf(navigator.platform.toLowerCase()) < 0) {


          window.location.href = '/';


        alert("mobile로 접속하셨습니다");
      } else {
        //pc 모바일에 따라 메뉴와 iframe 크기 다르게 할것
        //또한 다운로드는 pc만 제공할것
        socket.emit('joinRoom', roomname, id, "방 들어가게 허락해줘");//방 들어갈게


        alert("pc로 접속하셨습니다");
      }
    }

      //console.log(socket);
   $('#totalmsg').css({height:$('#totalmsg').parents().height()+'px'});
//$('#totalmsg').css({height:'600px'});
      console.log("document ready");
 
      ///프론트에서 백앤드로 입장보내는메시지

      $('#input_chat').keypress(function (e) {
        if (e.key == 'Enter') {
          var getmsg = $('#input_chat').val();
          //alert(getmsg);
          $('#input_chat').val("");
          socket.emit('sendmsg_backend', roomname, id, getmsg);//방 들어갈게

        }

      });
      //프론트에서 백엔드로보내는 채팅메세지

      console.log("asfsaf" + window.location.origin);

      //var socket = io("http://34.85.15.240:8989");




      //백앤드에서 프론트로 보낸 메시지를 받는곳
      socket.on('joinRoom', (roomname, id, msg) => {
        console.log(msg);
        $('#totalmsg').append('<div>' + msg + '</div>');
        $('#totalmsg').scrollTop($('#totalmsg')[0].scrollHeight);
      });










      
      socket.on('add_member', (roomname, idlist) => {
        console.log("@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@");
        console.log(idlist);
        $('#member_list').empty();
        for(var i=0; i<idlist.length; i++)
        {
          $('#member_list').append('<div>' + idlist[i] + '</div>');
        }


        /*
        console.log("멤버리스트: " + member_list);
        if (member_list.length >= 1) {
          const idx = member_list.indexOf(id);

          console.log("아아" + idx);

          if (idx > -1) {
            //이미있는정보니까 추가안함
            console.log("이미 맴버로 있기때문에 추가 안할게 아이디는:" + id);
          }
          else {

            console.log("맴버로 없기때문에 추가 할게 아이디는:" + id);
            member_list.push(id);
            $('#member_list').append('<div>' + id + '</div>');
            //없는정보니까 추가를 함
          }
        }
        else {
          console.log("맴버로 없기때문에 추가 할게 아이디는:" + id);

          member_list.push(id);

          $('#member_list').append('<div>' + id + '</div>');

        }
        */

      });




      
      socket.on('leaveRoom', (roomname, id, msg) => {
        console.log(msg);
        $('#totalmsg').append('<div>' + msg + '</div>');
        $('#totalmsg').scrollTop($('#totalmsg')[0].scrollHeight);

      });

      socket.on('sendmsg_frontend', (roomname, id, msg) => {
        console.log(msg);
        $('#totalmsg').append('<div>' + id + ": " + msg + '</div>');
        $('#totalmsg').scrollTop($('#totalmsg')[0].scrollHeight);
      });
    }
    var member_list = [];
  </script>
</body>




</html>